/* *{
    padding: 0px;
    margin: 0px;
    outline: 0px;
    box-sizing: border-box;
    text-decoration: none;
    background-color: #1B3936;
 }

 .font-boska{
    font-family: 'Boska', serif;
 }

 .font-poppins{
    font-family: "Poppins", sans-serif;
 }

 .font-switzer{
    font-family: 'Switzer', sans-serif;
 }

 .font-avenir{
    font-family: 'Avenir', sans-serif;
 }
 .color-white{
    color: #fff;
 }
 .pl-55{
    padding-left: 55px;
 }
 .pl-40{
    padding-left: 40px;
 }
 .ml-auto{
    margin-left: auto;
 }
 .opacity-99{
    opacity: 99%;
 }
 .border-line{
    position: relative;
   
 }
 .border-line .line{
    position: absolute;
    top: -175px;
    left: 110px;
    opacity: 50%;
    border: 2px;
 }
 
 header{
    width: 1214px;
    display: flex;
    align-items: center;
    margin: 30px 80px 0 145px;
    font-family: 'Switzer', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    
 }
 .hero-section{
   position: relative;
   padding: 120px 0;
 }
 .bg-hero{
    background-image: url(../../asset/images/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    
    top: 120px;
    left: 435px;
    opacity: 99;
    width: 570px;
    height: 570px;
    z-index: 1; 
 }
 .hero-contain{
    background: none;
    
 }
 .hero-contain h3, small {
    background: none;
 }
 .hero-contain .cosy {
    position: absolute;
    top: -50px;
    left: 0px;
    font-size: 260px;
    font-family: 'Boska', serif;
    font-weight: 400;
    line-height: 160px;
    font-style: italic;
    color: #fff;
 }

 .hero-contain .cabin {
    position: absolute;
    top: 165px;
    left: 150px;
    font-size: 260px;
    font-family: 'Boska', serif;
    font-weight: 400;
    line-height: 185px;
    font-style: italic;
    color: #75FF69;
 }
 .hero-contain .in {
    position: absolute;
    top: 360px;
    left: 230px;
    font-size: 32px;
    font-family: 'Boska', serif;
    font-weight: 700;
    line-height: 41px;
    font-style: italic;
    color: #fff;
 }

 .hero-contain .woods {
    position: absolute;
    top: 395px;
    left: -100px;
    font-size: 260px;
    font-family: 'Boska', serif;
    font-weight: 400;
    line-height: 160px;
    font-style: italic;
    color: #fff;
 }
 .hero-contain .jack{
    position: absolute;
    top: 600px;
    left: 0px;
    font-size: 18px;
    font-family: 'Switzer', sans-serif;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
    text-align: center;
 }
.play{
    background: #75FF69;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    border: 5px solid rgba(27, 57, 54, 0.5);
    position: absolute;
    top: 385px;
    right: 50px;
    cursor: pointer;
}

.play img{
    background: none;
    margin-left: 6px;
    margin-top: 2px;
}

.two-column{
   background-color: white;
   clear: both; 
   margin-top: 670px; 
   padding: 20px; 
}

.two-column h3{
   background-color: white;
   position: absolute;
}



 .slider-1 {
    float: left;
    height: 100px;
    width: 100%;
 }

 .hidden {
    display: none;
 }

  */


  * {
   padding: 0;
   margin: 0;
   outline: 0;
   text-decoration: none;
   box-sizing: border-box;
}

body {
   background-color: #1B3936;
   font-family: 'Switzer', sans-serif;
}

.color-white {
   color: #fff;
}

.pl-55 {
   padding-left: 55px;
}

.pl-40 {
   padding-left: 40px;
}

.ml-auto {
   margin-left: auto;
}

.opacity-99 {
   opacity: 99%;
}
/* header section css */
header {
   display: flex;
   align-items: center;
   padding: 30px 80px 0 145px;
   font-size: 18px;
   font-weight: 400;
   line-height: 24px;
}
/* hero section css */
.hero-section {
   position: relative;
   padding: 120px 0;
}

.bg-hero {
   background-image: url(../../asset/images/hero.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   width: 570px;
   height: 570px;
   margin: 0 auto;
   position: relative;
   z-index: 1;
}

.hero-contain {
   position: relative;
   text-align: center;
   color: #fff;
}

.hero-contain h3, .hero-contain small {
   background: none;
}

.hero-contain .cosy {
   font-size: 260px;
   font-family: 'Boska', serif;
   font-weight: 400;
   line-height: 160px;
   font-style: italic;
   color: #fff;
}

.hero-contain .cabin {
   font-size: 260px;
   font-family: 'Boska', serif;
   font-weight: 400;
   line-height: 185px;
   font-style: italic;
   color: #75FF69;
}

.hero-contain .in {
   font-size: 32px;
   font-family: 'Boska', serif;
   font-weight: 700;
   line-height: 41px;
   font-style: italic;
   color: #fff;
}

.hero-contain .woods {
   font-size: 260px;
   font-family: 'Boska', serif;
   font-weight: 400;
   line-height: 160px;
   font-style: italic;
   color: #fff;
}

.hero-contain .jack {
   font-size: 18px;
   font-family: 'Switzer', sans-serif;
   font-weight: 400;
   line-height: 24px;
   text-align: center;
}

.play {
   background: #75FF69;
   border-radius: 50px;
   width: 70px;
   height: 70px;
   border: 5px solid rgba(27, 57, 54, 0.5);
   position: absolute;
   top: 385px;
   right: 50px;
   cursor: pointer;
}

.play img {
   margin-left: 6px;
   margin-top: 2px;
}

/* two-column section css */

.two-column {
   background-color: white;
   padding: 107px 0px 0px 105px;
   display: flex;
   width: 100%;
   clear: both;
}

.two-column img{
   margin-bottom: 40px;
}

.two-column .column-one {
   width: 50%;
}

.two-column .column-one p {
   font-family: 'Switzer', sans-serif;
   font-weight: 400;
   font-size: 24px;
   line-height: 31px;
   color:#1B3936;
   text-align: justify;
}
.two-column .forest{
   padding-left: 200px;
   margin-bottom: 100px;
}
.two-column .forest span{
   font-family: 'Switzer', sans-serif;
   font-weight: 400;
   font-size: 24px;
   line-height: 31px;
   color:#1B3936;
}

.two-column .forest h4{
   font-family: 'Boska', serif;
   font-weight: 700;
   font-style: italic;
   font-size: 100px;
   line-height: 60px;
   color:#1B3936;
}

.two-column .forest h4 var {
   font-family: 'Switzer', sans-serif;
   font-weight: 400;
   font-size: 24px;
   line-height: 31px;
   color:#1B3936;
   font-style: normal;
}

.two-column .forest h4 span {
   font-family: 'Switzer', sans-serif;
   font-weight: 400;
   font-size: 24px;
   line-height: 31px;
   color:#1B3936;
   font-style: normal;
}


/* about sectio css */


.about-section {
   padding: 75px 60px 110px 38px;
   position: relative;
   width: 100%;
   height: 1624px;

}

.about-section .img-1{
   width: 400px;
   height: 525px;
   position: absolute;
   right: 60px;
}

.about-section .img-2{
   width: 400px;
   height: 342px;
   position: absolute;
   top: 320px;
}

.about-section .img-3{
   width: 400px;
   height: 531px;
   position: absolute;
   top: 950px;
   left: 150px;
}

.about-section .img-4{
   width: 400px;
   height: 531px;
   position: absolute;
   top: 980px;
   right: 150px;
}

.about-contain {
   display: block;
   max-width: 1083px;
   margin: auto;
   padding-top: 160px;
}

.about-contain h6 {
   text-transform: uppercase;
   font-family: 'Switzer', sans-serif;
   font-weight: 400;
   font-size: 24px;
   line-height: 31px;
   color: #75FF69;
   text-align: center;
   padding-bottom: 31px;
}

.about-contain p {
   position: relative;
   z-index: 2;
   max-width: 1000px;
   margin: auto;
   font-family: 'Boska', serif;
   font-weight: 400;
   font-style: italic;
   font-size: 68px;
   line-height: 88px;
   text-align: center;
   color: #fff;
   text-transform: capitalize;
}

.about-contain p span {
   color: #678784;
}

/* slider-section  css*/


.slider-section {
   background-color: white;
   padding-top: 170px;
   padding-bottom: 170px;
}

.slider-section h4 {
   font-family: 'Boska', serif;
   font-weight: 400;
   font-size: 68px;
   line-height: 88px;
   max-width: 884px;
   color: #1B3936;
   padding-left: 125px;
}


.slider-section .slider-1 {
   padding: 148px 21px 0px 21px;
}
.slider-1 .slider {
   width: 100%;
   display: flex;
   align-items: center;
   gap: 8px;
}
.slider .first-slide, .middel-slide, .last-slide {
   position: relative;
   z-index: 1;
}

.slider .first-slide  p {
   position: absolute;
   bottom: 55px;
   left: 60px;
   font-family: 'Boska', serif;
   font-weight: 400;
   font-size: 32px;
   line-height: 41px;
   text-align: justify;
   color: #F9F9F9;
   z-index: 2;
}

.slider .middel-slide .middel-slide-content {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.middel-slide .middel-slide-content img {
   cursor: pointer;
}
.middel-slide .middel-slide-content h2 {
   font-family: 'Boska', serif;
   font-weight: 500;
   font-size: 68px;
   line-height: 88px;
   color: #F9F9F9;
}
.middel-slide .content-position {
   position: absolute; 
   bottom: 60px; 
   left: 50px; 
   right: 50px;
   z-index: 2;
}
.middel-slide p {
   font-family: 'Switzer', sans-serif;
   font-weight: 400;
   font-size: 18px;
   line-height: 23px;
   color: #fff;
   max-width: 380px;
}


.slider .last-slide p {
   position: absolute;
   bottom: 55px;
   left: 60px;
   font-family: 'Boska', serif;
   font-weight: 400;
   font-size: 32px;
   line-height: 41px;
   text-align: justify;
   color: #F9F9F9;
   z-index: 2;
}


#prevSlide {
   width: 350px;
   height: 505px;
  
}

#activeSlide {
   width: 550px;
   height: 778px;
}

#nextSlide {
   width: 350px;
   height: 505px;
}


/* sign up section css */


.sign-up{
   max-width: 1200px;
   margin: auto;
   background: #678784;

}

.bg-sign-up {
   background-image: url(../../asset/images/sign-up-bg.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   width: 100%;
   height: 740px;
   margin-top: 105px;
   margin-bottom: 105px;
}

.sign-up .content {
   display: block;
   max-width: 605px;
   margin: auto;
   padding-top: 170px;
   padding-bottom: 170px;
   text-align: center;
}

.sign-up .content h3 {
   font-family: 'Boska', serif;
   font-weight: 400;
   font-size: 68px;
   line-height: 88px;
   text-align: center;
   color: #fff;
   text-transform: capitalize;
}

.sign-up .content h3 span {
   color: #75FF69;
}

.sign-up .content p {
   font-family: 'Switzer', sans-serif;
   font-weight: 400;
   max-width: 405px;
   margin: auto;
   font-size: 18px;
   line-height: 24px;
   text-align: center;
   color: #fff;
   padding: 21px 0 60px 0;
}


.sign-up .content .input-field {
   position: relative;
   display: flex;
   align-items: center;
   max-width: 570px;
   margin: auto;
}
.sign-up .input-field input {
   width: 80%;
   padding: 18px 10px;
}
.sign-up .input-field p {
    background: #75FF69;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0px;
    width: 25%;
    padding: 18px 10px;
    color: #1B3936;
    font-family: 'Switzer', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
}


/* testimonial-section css*/


.testimonial-section {
   padding: 70px 0px 70px 140px;
   background-color: #F9F9F9;
}

.testimonial-section .heading {
   display: flex;
   width: 100%;

}

.heading h4 {
   max-width: 700px;
   color: #1B3936;
   font-family: 'Boska', serif;
   font-weight: 400;
   font-size: 68px;
   line-height: 88px;

}

.heading p {
    font-family: 'Switzer', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #1B3936;
    max-width: 380px;
    margin: 0 auto;
    display: flex;
    align-items: end;

}

.testimonial-slider {
   padding-top: 170px;
   padding-bottom: 70px;
  
}

.testimonial-slider .t-slider {
   display: flex;
   gap: 100px;
}

.item-1 {
   position: relative;
   

}

.item-1 > img {
   width: 330px;
   height: 477px;
}

.item-1 .item-content {
   position: absolute;
   bottom: 13px;
   left: -80px;
   background-color: #fff;
   padding: 15px 10px;
   max-width: 400px;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.item-content .sub-title {
   font-family: 'Switzer', sans-serif;
   font-weight: 400;
   font-size: 22px;
   line-height: 29px;
   color: #1B3936;
   padding: 8px 0;
}

.item-content .sub-text {
   font-family: 'Switzer', sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   color: #1B3936;
   opacity: 0.4;
}

.item-content .sub-text span {
   color: #1B3936;
   opacity: 0.2;
}

.item-2 {
   position: relative;
}

.item-2 > img {
   width: 330px;
   height: 477px;
}

.item-2 .item-content {
   position: absolute;
   bottom: 13px;
   left: -80px;
   background-color: #fff;
   padding: 15px 10px;
   max-width: 400px;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.item-3 {
   position: relative;
   
}

.item-3 > img {
   width: 330px;
   height: 477px;
}

.item-3 .item-content {
   position: absolute;
   bottom: 13px;
   left: -80px;
   background-color: #fff;
   padding: 15px 10px;
   max-width: 400px;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.trigger-buttons {
   display: flex;
   margin-top: 120px;
   justify-content: center;
   gap: 30px;
}

.trigger-buttons .right-button {
   width: 60px;
   height: 60px;
   background-color: #1B3936;
   border-radius: 50px ;
   border: none;
   cursor: pointer;
}

.trigger-buttons .left-button {
   width: 60px;
   height: 60px;
   background-color: #75FF69;
   border-radius: 50px ;
   border: none;
   cursor: pointer;
}
